<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TODO list</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/}">Все задания<span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" th:href="@{/doneItems}">Выполненные задания<span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" th:href="@{/newItems}">Новые задания<span
                        class="sr-only">(current)</span></a>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item" th:if="${user.name == 'Гость'}">
                <a th:href="@{/login}" class="nav-link link-dark px-2">
                    <span th:text="${user.name}"></span>
                    <span> | Войти</span>
                </a>
            </li>
            <li class="nav-item" th:if="${user.name != 'Гость'}">
                <div class="nav-link link-dark px-2">
                    <a th:href="@{/editUser}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a th:href="@{/logout}">
                        <span th:text="${user.name}"></span>
                        <span> | Выйти</span>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>